@use "./mq" as *;
@use "./variables" as *;
@use "./common" as *;

// about-swiper
.about__slider {
  position: relative;
  z-index: 2;
}

.about-swiper__slide {
  overflow: hidden;
  border-radius: 12px;

  @include mq(md) {
    border-radius: 24px;
  }
}
