// font-family
$font-family-ja: "Noto Sans JP", sans-serif;
$font-family-en: "Courgette", cursive;
$font-family-josefin: "Josefin Sans", sans-serif;
$font-family-kiwi: "Kiwi Maru", serif;

$font-size-base: 12px;
$font-size-small-heading: 12px;
$font-size-medium-heading: 14px;
$line-height-base: 1.6;
$font-weight-base: 400;

// color
// main-color
$main-color: #9ed0e0;
$sub-color-dark-blue: #67b0c7;
$sub-color-blue-gray: #cce1e4;
$sub-color-light-blue: #e9f6f8;

// accent-color
$accent-color-red: #ce2073;
$accent-color-yellow: #ffee56;

// monochrome-color
$color-brown: #4a3636;
$color-dark-gray: #cccccc;
$color-gray: #f5f5f5;
$color-white: #ffffff;

// contents-width
$sp-contents-width: 335px;
$pc-contents-width: 1024px;
